* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  font-family: "Archivo", sans-serif;
  color: #fff;
}

*::selection {
  background-color: #000;
  color: #3265ea;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
